body {
    margin-top: 30px;
    background-color:#aeefdf;
}

.mainDiv {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #2b2b2b;
    border-bottom: 20px solid #9e7bb2;
}

.imagewrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
}


 h1 {
    font-family: 'Roboto Mono', monospace;
    color: #F6C2C2;
    letter-spacing: 1px;
    text-align: center;
}
p, label, textarea, form, input, button {
    font-family: 'Roboto Mono', monospace;
    color: #F6C2C2;
    text-align: center;
    margin-bottom: 20px;
}
/* 
font-family: 'Roboto Mono', monospace;
font-family: 'Abril Fatface', cursive;
*/

fieldset {
    border-style: none;
    
    padding: 2em;
    margin: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    background-color: ##383838;
    
}
fieldset:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: #3f3f3f;
}
/* .bigBox {
   display: flex;
   flex-direction: row;
   align-content: center;
} */

input, textarea, select {
    display: inline-block;
    margin: auto;
    color: white;
    background-color:#2b2b2b;
}

.textArea {
    width: 75%;
    border-radius: 1px;
    border-style: none;
    border-bottom: 1.5px solid #F6C2C2;
}

.conceptsCovered input {
    width: 75%;
    border-radius: 1px;
    border-style: none;
    border-bottom: 1.5px solid #F6C2C2;
}

.calendar input {
    width: 75%;
    border-radius: 1px;
    border-style: none;
    border-bottom: 1.5px solid #F6C2C2;
}

select option {
    height: 300%;
    border-style: none;
    border-bottom: 1.5px solid #F6C2C2;
}

button {
    padding: 10px;
    background-color:  #F6C2C2;
    color: #2b2b2b;

}

.colin {
    border-radius: 50%;
    width: 100px;
    height: auto;
    border: 2px solid #F6C2C2;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: #F6C2C2;
    letter-spacing: 1px;
    text-align: center;
}