

* {
  margin: 0;
}

body {
  background-color: white;
  /* background-image: url("/90's.jpg"); */
}

.topNav > img {
  display: block;
  width: auto;
  height: 30px;
  margin-left: 10px;
  align-self: center;
}

.topNav {
  height: 50px;
  width: 100%;
  background-color: #9ad6cb;
  display: flex;
  justify-content: center;
}

.topNav img:hover {
  transition: 0.2s ease-in-out;
  transform: translateX(-5%) translateY(-5%);
  transform-origin: center;
}

.topNav h1 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.topNav nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10px;
}

nav > a {
  display: flex;
  align-content: space-around;
  justify-content: center;
}
nav a img {
  width: 20px;
  height: auto;
  padding-right: 30px;
  fill: #569e26;
}

form {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.mainDiv {
  width: 50%;
  margin: auto;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #24373b;
  border-bottom: 3px solid #f15f61;
}

.imagewrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.75em;
  color: #f6c2c2;
  letter-spacing: -1px;
  text-align: center;
  margin-left: 20px;
}
p,
label,
textarea,
form,
input,
button {
  font-family: "Roboto Mono", monospace;
  color: #9ad6cb;
  text-align: center;
  margin-bottom: 20px;
}

fieldset {
  border-style: none;

  padding: 2em;
  margin: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  background-color: #24373b;
}
fieldset:hover {
  opacity: 1;
  transition: 2s;
  background-color: #32494c;
}

input,
textarea,
select {
  display: inline-block;
  margin: auto;
  color: white;
  background-color: transparent;
}

.textArea {
  width: 75%;
  border-radius: 1px;
  border-style: none;
  border-bottom: 1px solid #9ad6cb;
}

.conceptsCovered input {
  width: 75%;
  border-radius: 1px;
  border-style: none;
  border-bottom: 1px solid #9ad6cb;
}

.calendar input {
  width: 75%;
  border-radius: 1px;
  border-style: none;
  border-bottom: 1px solid #9ad6cb;
}

select option {
  height: 300%;
  border-style: none;
  border-bottom: 1px solid #9ad6cb;
}

button {
  margin-top: 30px;
  padding: 15px;
  background-color: #9ad6cb;
  color: #2b2b2b;
  border: none;
}

button:hover {
  background-color: #3a5c63;
  color: white;
}

.colin {
  border-radius: 50%;
  width: 150px;
  height: auto;
  border: 1px solid #9ad6cb;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  color: #9ad6cb;
  text-align: center;
}

.blackbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topNav h1 {
  width: auto;
  margin-right: 100px;
  font-size: 1em;
  color: white;
}

span.nobreak {
  white-space: nowrap;
}

label {
  color: white;
}

.past-entry {
  width: 50%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  border-bottom: 1px solid #f15f61;
}
